.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 4px solid rgb(144, 144, 144);
  /* background-color: rgb(227, 225, 225); */
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #FF8D4C;
  /* color: rgb(176, 15, 176); */
}
.menu {
  font-size: 40px;
  font-weight: bold;
  color: #202121;
  cursor: pointer;
  display: none;
}
.navLinks {
  margin-left: 30px;
}
.navLink {
  font-size: 20px;
  font-weight: 600;
  margin: 0 12px;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  cursor: pointer;
  background-color: #FF8D4C;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.btn:hover {
  background-color: darkblue;
}
.navLink:hover {
  color: darkblue;
}
@media (max-width: 840px) {
  .logo {
    display: none;
  }
  .menu {
    display: block;
  }
  .navLinksWrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: inherit;
    transition: all 0.4s ease-in;
    z-index: 100;
    background-color: #FFF5F0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navLinks {
    padding-left: 30px;
    padding-bottom: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .navLink {
    padding: 0;
    margin: 12px 0;
  }
}
